.item-card {
    width: 200px;
    list-style: none;
    background-color: rgb(162, 183, 202);
    display: grid;
    font-size: 18px;
    padding-top: 0px;
    position: relative;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

    .item-heart {
        position: absolute;
        top: 4px;
        right: 4px;
    }

    .item-img {
        width: 100%;
        height: 200px;
        align-self: start;
        object-fit: cover;
    }

    .item-description {
        padding: 16px;

        .item-title {
            margin: 0;
            margin-bottom: 16px;
            text-align: center;
        }

        .item-price-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;

            .item-price {
                margin-right: 8px;
                font-size: 24px;
            }

            .add-to-cart-btn {
                font-weight: 700;
                padding: 8px;
                box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
                border: none;
                border-radius: 5px;
                color: white;
                background-color: rgb(16, 16, 172);
            }

            .qty-in-cart {
                position: absolute;
                top: -12px;
                right: -8px;
                color: white;
                background-color: rgba(34, 60, 80, 0.8);
                box-shadow: 0px 1px 2px 1px rgba(39, 40, 41, 0.8);
                padding: 0 4px;
                text-align: center;
                border-radius: 3px;
                font-size: 12px;
            }
        }
    }
}
